<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>DemoWeb</display-name>

	<servlet>
		<servlet-name>addTwo</servlet-name>
		<servlet-class>com.telusko.AddServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>addTwo</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>sq</servlet-name>
		<servlet-class>com.telusko.Sqservlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>sq</servlet-name>
		<url-pattern>/sq</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>contextTest</servlet-name>
		<servlet-class>com.telusko.ContextParamServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>contextTest</servlet-name>
		<url-pattern>/ctx</url-pattern>
	</servlet-mapping>
	
	
	<context-param>
		<param-name>name</param-name>
		<param-value>Jyoti</param-value>
	</context-param>
	
	<context-param>
		<param-name>phone</param-name>
		<param-value>Oppo</param-value>
	</context-param>
</web-app>